
* {
    margin: 0;
    padding: 0;
    /* box-sizing: border-box; */
}

body {
    width: 100%;
    /* background-color: rgb(205, 205, 205); */
}

#input-section{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 90vh;
    width: 100%;
    /* background-color: aquamarine; */
    background: url('img/image.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: bottom 0px center;
    /* padding-top: 55px; */
    gap: 25px;
}

#input-section h1{
    font-size: 45px;
    color:darkblue;
}

#fileSelect{
    text-decoration: none;
    font-size: 25px;
    background-color: wheat;
    border-radius: 15px;
    padding: 5px 25px;
    color:black;
    font-weight: 600;
    transition: 0.3s ease-in;
    margin-bottom: 25px;
}


#fileSelect:hover{
    transform: scale(1.1);
}

.inputContainer{
    width:60%;
    font-size: 20px;
    font-weight: bold;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    margin-top: 15px;
    /* padding-top: 25px; */
    /* align-ite; */

}
 

#fontSize,#fontFamily,#NameColumn,#excelInput{
    background:none;
    border: none;
    font-size: large;
    font-weight: 500;
    border-bottom: 1px solid black;
    outline: none;
    border-radius: 15px;
    padding: 5px 15px;
    width: 40%;
    /* font-size: large; */
}

#fontSize:focus,
#fontFamily:focus{
    background-color: rgba(0, 0, 0, 0.121);
}

/* #excelInput:{
    background-color: none;
} */
/* 
input#file-upload-button{
    background:none;
} */


/* template to check for starts */
#certificate-section {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 50px 25px;
    gap:35px;
    /* margin: auto; */
}

#fileList ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: normal;
    gap: 25px;
    border-bottom: 2px solid gray;
    padding-bottom: 35px;
}

#fileList ul li{
    display: flex;
    flex-direction: column;
    font-size: 13px;
    color: white;
    border:1px solid black;
    padding:10px 15px;
    justify-content: center;
    width:300px;
    background-color: black;
    gap: 7px;
    cursor: pointer;
    
}

#fileList ul li img{
    width: 100%;
}


#btnAndLinkContainer {
    display: flex;
    flex-direction: column;
    gap:15px;
    align-items: center;
}



#btnAndLinkContainer button{
    padding:5px 35px;
    background: none;
    background-color: black;
    font-size: x-large;
    font-weight: 700;
    color: beige;
    border-radius: 25px;
    cursor: pointer;
    transition: 0.3s ease;
}

#btnAndLinkContainer button:hover{
    background-color: white;
    color:black;
    box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.71);
}

#myCanvas{
    cursor: pointer;
}







/* actual container that gives certificates for all */

#show-certificate{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 25px;
    align-items: left;
    width: 100%;
    /* margin: auto; */   
    /* align-items: left; */
}

.canvaDiv{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 35px;
    align-items: left;
    padding-bottom: 25px;
    border-bottom: 2px solid gray;
    width: 100%;
    /* margin: auto; */

}

.canva{
    border: 10px solid black;
    margin: auto;
}

.download-link,
.demo-download-link{
    text-align: center;
    font-size: 20px;
    font-family: system-ui, -apple-system,sans-serif;
    font-weight: 550;
    text-decoration: none;
    color:rgb(0, 0, 144);
    text-transform: capitalize;
}

